@font-face {
  font-family: 'Rectaxel';
  src: url('./Rectaxel.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PlaymegamesReguler';
  src: url('./PlaymegamesReguler.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #4C5C67;
  --primary-light: #84A0B3;
  --primary-dark: #262E33;
  --grey-light: #c8d0e7;
  --board-color: #383685;
  --white: #fff;
  --flipper-height: 50px;
  --flipper-width: 160px;
  --flipper-spacing: 15px;
  --flipper-transition-speed: 0.25s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  color: #fff;
  font-family: 'PlaymegamesReguler';
}

body::before {
  content: "";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: url(water.jpg);
  background-size: cover;
}

.content {
  position: relative;
  min-height: 100vh;
  background: rgb(17,18,20);
  background: linear-gradient(0deg, rgba(17,18,20,1) 0%, rgba(25,28,31,0.96) 100%);
}

.btn {
  font-family: 'PlaymegamesReguler';
  font-size: 16px;
  padding: 12px 24px;
}

.btn-toggle-left {
}

.btn-toggle-right {
  
}

.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-family: 'Rectaxel';
  font-size: 32px;
  margin-bottom: 36px;
}

.place-wrapper {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.drag-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.drag {
  background-color: rgba(59, 58, 82, 0.33);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(12, 22, 27, 1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(12, 22, 27, 1);
  box-shadow: 2px 2px 3px 0px rgba(12, 22, 27, 1);
  padding: 28px;
  min-width: 225px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.drag.drag--vertical {
  flex-direction: row;
  align-items: flex-start;
}

.drag-info {
  font-size: 14px;
}

.place-ui {
  display: flex;
  justify-content: center;
  padding: 64px 0;
  gap: 24px;
}

.gameboard, .row, .tile, .ship-tile {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.gameboard {
  -webkit-box-shadow: 0px 0px 50px 1px rgba(56, 54, 133, 1);
  -moz-box-shadow: 0px 0px 50px 1px rgba(56, 54, 133, 1);
  box-shadow: 0px 0px 50px 1px rgba(56, 54, 133, 1);
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px 3px 3px 2px;
  border-color: var(--primary-light);
}

.row {
  display: flex;
}

.tile {
  background-color: var(--board-color);
  z-index: 1;
  width: 40px;
  height: 40px;
  border-left: 1px var(--primary-light) solid;
  border-top: 1px var(--primary-light) solid;
}

.tile.tile--ship {
  background-color: #000;
}

.tile.tile--hit {
  background-color: green;
}

.tile.tile--hitship {
  background-color: red;
}

.tile .ship.draggable .ship-tile:nth-child(1)::after {
  content: "✋";
  color: var(--primary-light);
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 18px;
}

.ship-tile {
  position:relative;
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  box-shadow: inset 2px 2px 7px var(--primary-light),
              inset -2px -2px 7px var(--primary-dark);
  border-left: 1px var(--primary-light) solid;
  border-top: 1px var(--primary-light) solid;
  z-index: 20;
}

.has-ship {
  background-color: var(--primary);
  box-shadow: inset 2px 2px 7px var(--primary-light),
              inset -2px -2px 7px var(--primary-dark);
              border-left: 1px var(--primary-light) solid;
              border-top: 1px var(--primary-light) solid;
}

.ship {
  display: flex;
  transition: opacity 0.1s ease-out;
  width: min-content;
  border-right: 1px var(--primary-light) solid;
  border-bottom: 1px var(--primary-light) solid;
}

.ship.vertical {
  flex-direction: column;
  transition: opacity 0.1s ease-out;
}

.ship.draggable {
  cursor: move;
}

.tile.over {
  border: 2px dotted var(--primary-light);
}

.game-wrapper {
  display: flex;
  justify-content: center;
  padding: 84px 0;
}

/* Game mid */

.mid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 48px;
}

.go-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.heading-go {
  font-size: 18px;
}

.text-go {
  font-size: 13px;
}

/* Flipper */

.flipper {
  position: relative;
  width: var(--flipper-width);
  height: var(--flipper-height);
  margin: 0 var(--flipper-spacing);
  perspective: 1000px;
}

.flipper-card {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(calc(-(var(--flipper-height) / 2)));
  transition: transform var(--flipper-transition-speed);
}

.flipper-card::before, .flipper-card::after {
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  width: var(--flipper-width);
  height: var(--flipper-height);
  position: absolute;
  border: 5px solid black;
  box-sizing: border-box;
  content: attr(title);
  display: flex;
}

.flipper-card::before {
  background-color: #000;
  color: #fff;
  transform: rotateY(0deg) translateZ(calc(var(--flipper-height) / 2));
}

.flipper-card::after {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transform: rotateX(90deg) translateZ(calc(var(--flipper-height) / 2));
}

.flipper-card.flipped {
  transform: translateZ(calc((-1 * (var(--flipper-height) / 2)))) rotateX(-90deg);

}