* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
}

.gameboard, .row, .tile, .ship-tile {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.gameboard {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.tile {
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 1px #afafaf solid;
}

.tile.tile--ship {
  background-color: #000;
}

.ship-tile {
  position:relative;
  width: 40px;
  height: 40px;
  background-color: black;
  border: 1px #afafaf solid;
  z-index: 20;
}

.ship {
  display: flex;
  transition: opacity 0.1s ease-out;
  width: min-content;
}

.ship.vertical {
  flex-direction: column;
  transition: opacity 0.1s ease-out;
}

.ship.draggable {
  cursor: move;
}

.tile.over {
  border: 3px dotted #666;
}

.place-wrapper {display: flex;}