* {
  box-sizing: border-box;
}

.main {
  display: flex;
}

.gameboard {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.tile {
  width: 40px;
  height: 40px;
  border: 1px #afafaf solid;
}

.span-5 {
  width: 200px;
  height: 40px;
}

.span-4 {
  width: 160px;
  height: 40px;
}

.span-3 {
  width: 120px;
  height: 40px;
}

.span-2 {
  width: 80px;
  height: 40px;
}

.ship-tile {
  transition: opacity 0.1s ease-out;
}

.ship-tile.draggable {
  cursor: move;
}

.tile.over {
  border: 3px dotted #666;
}